@{
    ViewData["Title"] = "Movie";
}

<h2>Manage Section</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Categorize">Categorize</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Filter">Filter</a>